.Faq {
    &-lista {
        grid-column: 2 / 4;

        dt {
            font-family: helvetica, arial;
            font-weight: bold;
            margin-top: 2rem;
            margin-bottom: .5rem;
            color: #e54;

            &::before {
                content: '';
                width: 20px;
                height: 10px;
                display: inline-block;
                margin-right: 10px;
                background: #fb5;
            }
        }

        dd {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: .5rem;
            margin-left: 30px;
        }
    }
}